/* Color Palette:
https://coolors.co/242331-533e2d-a27035-b88b4a-ddca7d
*/

@import url('https://fonts.googleapis.com/css?family=Handlee|Roboto:400,700&display=swap');
/*
-----------------------
Global Styles
-----------------------
*/

/* Box Model Fix Start */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Box Model Fix End */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #242331;
}

h1, h2 {
    font-family: 'Handlee', cursive;
    font-weight: 400;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 35px;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    color: #DDCA7D;
}

a:hover {
    text-decoration: none;
    color: #ECE2B8;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 35px;
    overflow: auto;
}

.col-narrow {
    width: 30%;
    float: left;
    /* Text float safety valve */
}

.col-wide {
    width: 70%;
    float: left;
    padding-left: 30px;
}

.uppercase {
    text-transform: uppercase;
}

/*
-----------------------
Header and Footer
-----------------------
*/

header, footer {
    background-color: #242331;
    color: #A27035;
}

/* Header Styles */

.profile-image {
    border-radius: 20%;
}

header h1, header h2 {
    color: #DDCA7D;
    margin: 0;
}

/* Footer Styles */

footer {
    text-align: center;
}

/* Contact info links */

.contact-info a {
    padding: 14px;
    margin: 3px;
    text-decoration: none;
    background-color: #533E2D;
    display: inline-block;
    border-radius: 7px;
}

/*
-----------------------
Navbar
-----------------------
*/
nav {
    margin-top: 15px;
    text-align: center;
}
nav a {
    padding: 15px 20px;
    border: 3px solid #533E2D;
    border-radius: 7px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/*
-----------------------
Work Experience
-----------------------
*/

.work-experience {
    background-color: #B88B4A;
}

h3~p {
    margin: 0;
}

.job-description {
    margin-bottom: 25px;
}

.job-description p:first-of-type {
    margin-top: 0;
}

/*
-----------------------
Education
-----------------------
*/

.education {
    background-color: #A27035;
}

p+h3 {
    margin-top: 30px;
}